<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en" ng-app="HeuteIn"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en" ng-app="HeuteIn"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en" ng-app="HeuteIn"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" ng-app="HeuteIn"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/heutemini.png" />

  	<title>heute in berlin</title>
  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=12335892039";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= yield %>

    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <script src ="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js">
    </script>
    <script src ="http://cdnjs.cloudflare.com/ajax/libs/sugar/1.3.9/sugar.min.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhAGyvGAvEZeF0TdH5zVy9sQtEIXRLeuo&sensor=true">
    </script>
    <%= javascript_include_tag "application" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45564981-1', 'heuteinberlin.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
